*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}

ol,
ul,
li{
    list-style-type: none;
}

.container800px{
    max-width: 800px;
    margin: 0 auto;
}